@import '~Janus/foundations/Color/main';
@import '~Janus/foundations/Typography/main';

.tileNotification {
  background-color: get-color(red, core);
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  display: flex;
  height: 3.5rem;

  left: 0;
  position: absolute;
  top: 6rem;

  //transition: width 500ms;
  width: 1.5rem;

  &.open {
    //transition: width 500ms;
    width: 98%;

    &.tweak {
      width: 250px;
    }
  }

  .notification {
    display: flex;
    //justify-content: flex-end;
    position: relative;
    width: 100%;

    .inner {
      overflow: hidden;

      .strong {
        font-weight: bold;
      }

      &.open {
        background-color: get-color(red, whisper);
        display: inline-block;
        padding: 0.625rem 1rem;

        //transition: width 1000ms;
        width: 100%;

        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
      }
    }
    // }

    &-icon {
      align-items: center;
      cursor: pointer;
      display: flex;
      position: relative;
      padding-right: 0.25rem;
      padding-left: 0.25rem;
    }
  }
}
