@import '~Janus/foundations/Color/main';
@import '~Janus/foundations/Typography/main';

.sideBarIcon {
  display: flex;
  align-items: center;
  padding: 1rem 0.75rem;
  margin-left: 0.5rem;
  position: relative;

  &.create {
    background-color: get-color(blue, core);
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    background-color: get-color(black, 400);
    border-radius: 0.5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &-title {
    .inner {
      display: block;

      overflow: hidden;
      padding-left: 1rem;
      transition: width 0.2s ease-in-out;
      width: 0;

      &.open {
        padding-left: 1rem;
        width: 100%;
      }
    }
  }

  .sideBarMenu {
    top: 0;
    right: 0;
    position: absolute;
  }
}
