@import '~Janus/foundations/Color/main';
@import '~Janus/foundations/Typography/main';

.analyticsCallOuts {
  //align-items: center;
  border: 1px solid get-color(black, 500);
  display: flex;

  padding: 1rem 1rem 1rem 0.5rem;
  width: 100%;

  &-recommendations {
    position: relative;
    width: 100%;

    &::before {
      content: '';
      position: absolute;
      width: 0.75rem;
      height: 100%;
      background-color: red;
      border-radius: 100px;
    }

    &-header {
      color: get-color(red, a11y);
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 1rem;
      line-height: 14px;
      padding: 0.5rem 0 0.5rem 1.75rem;
    }

    .recommendations-list {
      padding: 0 0 0.5rem 1.75rem;

      &-item {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 1rem;
        line-height: 18px;
        padding-bottom: 0.5rem;

        &-link {
          color: get-color(blue, core);
          text-decoration: underline;
        }
      }
    }

    &-button {
      align-self: flex-end;
      margin-bottom: 0.5rem;
    }
  }
}
