@import '~Janus/foundations/Color/main';
@import '~Janus/foundations/Typography/main';

.profile {
  align-items: center;
  cursor: pointer;
  display: flex;

  &-labels {
    display: flex;
    flex-direction: column;

    padding-left: 0.5rem;
    padding-right: 1rem;

    .name {
      color: get-color(white, core);
      font-family: Helvetica Neue;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 10px;

      padding-bottom: 0.5rem;
    }

    .title {
      color: get-color(black, 600);
      font-family: Helvetica Neue;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 10px;
    }
  }
}
