@import '~Janus/foundations/Color/main';
@import '~Janus/foundations/Typography/main';

.analyticsPage {
  padding: 3rem;

  &-header {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;

    padding-bottom: 2rem;
  }

  &-filler {
    width: 100%;
  }

  &-filler2 {
      padding: 1rem 0;
      width: 100%;
  }
}
