@import '~Janus/foundations/Color/main';
@import '~Janus/foundations/Typography/main';

.topNavWidgets {
  .widget-list {
    align-items: center;

    display: flex;

    &-item {
      cursor: pointer;
      margin: 0 0.5rem;

      .mobile {
        fill: get-color(black, 800);
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
