@import '~Janus/foundations/Color/main';
@import '~Janus/foundations/Typography/main';

.homeHub {
  display: grid;
  grid-template-columns: 320px 320px 320px;
  grid-gap: 2.5rem 2.5rem;
  justify-content: center;
  padding: 1.25rem;

  @media only screen and (min-width: 1500px) {
    justify-items: center;
    margin: 2.5rem auto;
    width: 1240px;
  }

  @media only screen and (max-width: 1499px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 2.5rem 3.75rem;
  }

  @media only screen and (max-width: 1400px) {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2.5rem 3rem;
  }

  //Still need to fix this for the smaller stuff
  @media only screen and (max-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2.5rem 2.5rem;
  }

  &-tile {
    width: 100%;
  }
}
