@import '~Janus/foundations/Color/main';
@import '~Janus/foundations/Typography/main';

.homeHub {
  display: flex;
  flex-wrap: wrap;

  @media only screen and (min-width: 1500px) {
    //justify-content: center;
    margin: 2.5rem auto;
    width: 1240px;
  }

  @media only screen and (max-width: 1499px) {
    margin: 2.5rem 5rem;
    
  }

  @media only screen and (max-width: 1130px) {
    

    margin: 2.5rem 4.5rem 2.5rem 5rem;
  }

  // //Still need to fix this for the smaller stuff
  // @media only screen and (max-width: 1000px) {
  //   //grid-template-columns: 1fr 1fr 1fr;
  //   //justify-content: center;
  //   margin: 2.5rem 2.5rem;
  // }

  //flex: 0 1 25%;

  .basic {
    margin: 0 1.5rem 1.5rem 0;
    //This media query makes sense if the tile is the basic kind but if it has the bigger detail it does not
    @media only screen and (min-width: 1500px) {
      //width: 280px;
     
    }

    @media only screen and (max-width: 1499px) {
      flex: 0 1 30%;
      //width: 100%;
      //margin: 0 1.5rem 1.5rem 0
    }

      @media only screen and (max-width: 1199px) {
        flex: 0 1 30%;
      }

      @media only screen and (max-width: 1130px) {
        flex: 0 1 47%;
      }

    //   @media only screen and (max-width: 950px) {
    //     width: 50%;
    //   }
    // }
  }

  .recruiter {
    @media only screen and (min-width: 1500px) {
      height: 280px;
      margin: 0 1.5rem 1.5rem 0;
    }
  }
}
