@import '~Janus/foundations/Color/main';
@import '~Janus/foundations/Typography/main';

.miniWidget {
  &:first-child {
    padding-right: 1.5rem;
  }
  .value_data {
    align-items: center;
    display: flex;

    .scale {
      color: get-color(green, a11y);
      display: flex;
      align-items: center;

      svg {
        fill: get-color(green, a11y);
      }

      &_text {
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 16px;
        margin-left: -4px;
      }
    }
  }

  .value_label {
    color: get-color(black, 700);
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;

    &.no-scale {
      padding-top: 0.25rem;
    }

    .description-only {
     white-space: pre-wrap;
    }
  }
}
