@import '~Janus/foundations/Color/main';
@import '~Janus/foundations/Typography/main';

.innerTile {
  background-color: get-color(black, 400);
  border-radius: 0.5rem;
  padding: 1.5rem;
  height: 100%;
  position: relative;

  width: 100%;

  &-content {
    display: inline-flex;
    position: relative;
    .header {
      padding-bottom: 0.5rem;
      &-label {
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        text-decoration: underline;

        padding-right: 1rem;
      }

      .hot {
        background-image: url('../../../images/whatshot.png');
        background-repeat: no-repeat;
        background-position: right center;
      }
    }

    .state {
      padding-bottom: 2rem;

      &-label {
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        padding-left: 1rem;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: get-color(green, core);
          border-radius: 100px;
          top: 0;
          left: 0;
        }
      }
    }

    .information-content {
      //padding-bottom: 3rem;
      &-item {
        .label {
          color: get-color(blue, a11y);
          font-family: Helvetica Neue;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 18px;
          white-space: nowrap;
        }
      }
    }
  }

  .dateInput {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
  }
}
