@import 'reset';

body {
  background-color: #efedef;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

a {
  color: #172c50;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  transition: color 100ms ease-in-out;

  &:hover {
    color: #7382ab;
  }
}
