// @import '~Janus/foundations/Color/main';
// @import '~Janus/foundations/Typography/main';

.tile {
  border: 1px solid grey;
  border-radius: 0.5rem;
  display: inline-block;
  margin: 0.5rem 0;
  padding: 1rem;

  &.small {
  }

  .content {
    .header {
      display: flex;
      justify-content: space-between;
      text-align: center;

      &-title {
        color: blue;
        font-weight: bold;
      }

      &-date {
        color: blue;
        font-weight: bold;
      }
    }

    .subtitle {
      color: blue;
      font-weight: bold;
    }
    .description {
      color: blue;
      font-weight: bold;
    }
  }
}
