@import '~Janus/foundations/Color/main';
@import '~Janus/foundations/Typography/main';

.tile {
  background-color: get-color(white, core);
  border-radius: 1.5rem;

  display: flex;
  height: 280px;

  position: relative;

  //Added this myself
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.12);
  border: 1px solid get-color(white, core);

  flex: 1;

  &:hover {
    border: 1px solid get-color(blue, core);
    box-sizing: border-box;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
  }

  // @media only screen and (min-width: 1500px) {
  //   width: 280px;
  // }

  // @media only screen and (max-width: 1499px) {
  //   width: 274px;
  // }

  // @media only screen and (max-width: 1000px) {
  //   min-width: 250px;
  //   width: 100%;
  // }

  &-main-content {
    margin: 2.5rem;
    width: 100%;
    &.disabled {
      cursor: none;
      opacity: 0.5;
      pointer-events: none;
    }
    .header {
      align-items: center;
      border-bottom: 1px solid get-color(black, 500);
      display: flex;

      padding-bottom: 1.5rem;

      .logo {
      }

      &-title {
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;

        padding-left: 0.5rem;
      }
    }

    .callOuts {
      align-items: baseline;
      border-bottom: 1px solid get-color(black, 500);
      display: flex;
      padding: 1rem 0;

      position: relative;
    }

    .footer {
      padding: 1rem 0;

      .footer-paths {
        display: inline-block;
        &-item {
          color: get-color(blue, core);
          cursor: pointer;
          font-family: Helvetica Neue;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 18px;
          margin-bottom: 0.25rem;
        }
      }
    }
  }
}
