@import '~Janus/foundations/Color/main';
@import '~Janus/foundations/Typography/main';

.tile {
  background-color: get-color(white, core);
  border-radius: 1.5rem;
  cursor: pointer;
  width: 100%;
  height: 280px;
  padding: 2.5rem;
  position: relative;

  &:hover {
    border: 1px solid get-color(blue, core);
    box-sizing: border-box;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
  }

  @media only screen and (min-width: 1500px) {
  }

  @media only screen and (max-width: 1499px) {
    //min-width: 274px;
  }

  .header {
    align-items: center;
    border-bottom: 1px solid get-color(black, 500);
    display: flex;

    padding-bottom: 1.5rem;

    .logo {
    }

    &-title {
      font-family: Helvetica Neue;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;

      padding-left: 0.5rem;
    }
  }

  .callOuts {
    align-items: baseline;
    border-bottom: 1px solid get-color(black, 500);
    display: flex;
    padding: 1rem 0;

    position: relative;
    
  }

  .footer {
    padding: 1rem 0;

    .footer-links {
      &-item {
        color: get-color(blue, core);
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        padding-bottom: 0.25rem;
      }
    }
  }
}
