@import '~Janus/foundations/Color/main';
@import '~Janus/foundations/Typography/main';

.sidebar {
  background-color: get-color(white, core);
  bottom: 0;
  box-shadow: 1px 0px 0px #ececec;
  min-height: 450px;
  overflow: visible;
  position: relative;
  top: 0rem;
  transition: width 500ms;
  width: 4rem;

  z-index: 100;

  &.close {
  }

  &.open {
    //height: calc(100vh - 64px);
    transition: width 500ms;
    width: 14rem;
  }

  .expand-collapse-button {
    bottom: 2rem;
    margin-top: 2rem;
    position: absolute;

    right: 1.5rem;

    &.sideBarOpen {
      transform: scaleX(-1);
    }
  }
}
