@import '~Janus/foundations/Color/main';
@import '~Janus/foundations/Typography/main';

.sidebar {
  background-color: get-color(white, core);
  bottom: 0;
  box-shadow: 1px 0px 0px #ececec;
  min-height: 450px;
  overflow: visible;
  position: relative;
  top: 0rem;
  transition: width 500ms;
  width: 4rem;

  z-index: 100;

  &.close {
  }

  &.open {
    //height: calc(100vh - 64px);
    transition: width 500ms;
    width: 14rem;
  }

  &.mobile {
    display: none;
  }

  &.openMobile {
    display: block;
    transition: width 500ms;
    width: 14rem;
  }

  .bottom-icons {
    bottom: 2rem;
    display: flex;

    position: absolute;
    right: 0;

    &.mobile {
      left: 0;
      padding-left: 0.75rem;
    }

    .bottom-widgets {
      align-items: center;
      display: flex;
    }

    .expand-collapse-button {
      padding-right: 1.5rem;
      &.sideBarOpen {
        padding-left: 1.5rem;
        transform: scaleX(-1);

        &.disabled {
          display: none;
        }
      }
    }
  }
}
