@import '~Janus/foundations/Color/main';
@import '~Janus/foundations/Typography/main';

.subMenu {
  background-color: get-color(black, 400);
  border-radius: 0 0.5rem 0.5rem 0;

  position: absolute;
  padding: 0.5rem;

  &-item {
    border-radius: 0.25rem;
    padding: 0.5rem;

    &:hover {
      background-color: get-color(black, 500);
      cursor: pointer;
    }

    .label {
      font-family: Helvetica Neue;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
    }
  }
}
