@import '~Janus/foundations/Color/main';
@import '~Janus/foundations/Typography/main';

.container {
    
    background: #e5e5e5;
    min-height: 100vh;

    .topNav {
        align-items: center;
        background-color: get-color(black, 900);
        display: flex;
        height: 4rem;
        position: relative;

        .logo {
            padding-left: 0.5rem;
        }
    }
}
