@import '~Janus/foundations/Color/main';
@import '~Janus/foundations/Typography/main';

.innerRows {
  width: 535px;
  .header-main {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;

    padding-bottom: 0.5rem;
    .header-strong {
        font-weight: bold;
        text-decoration: underline;
    }
  }

  ul {
    .user-content {
      padding-bottom: 0.5rem;
    }
  }
}
